@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.p-advantage {
  padding-bottom: 54px;
  position: relative;
  overflow: hidden;
  margin-top: 130px;
  margin-bottom: -90px;
  padding-top: 50px;

  @include m.mq(pc) {
    padding-bottom: 300px;
    margin-bottom: -180px;
  }

  &__wrapper {
    position: relative;
    background: v.$color-bg-blue;

    .cp-bg {
      position: absolute;

      &-dot--rotate {
        top: 0;
        left: -20px;
        width: 138px;
        width: 35.38vw;
        height: 138px;
        height: 35.38vw;
        max-width: 276px;
        max-height: 276px;
        transform: rotate(15deg);

        @include m.mq(pc) {
          width: 250px;
          height: 250px;
          top: 120px;
          left: 25%;
          max-width: 250px;
          max-height: 250px;
        }
      }

      &-car {
        color: v.$color-bg;
        top: 50px;
        right: -30px;
        width: 138px;
        width: 35.38vw;
        height: 138px;
        height: 35.38vw;
        max-width: 276px;
        max-height: 276px;

        @include m.mq(pc) {
          width: 378px;
          height: 378px;
          top: -20px;
          right: 100px;
          max-width: 378px;
          max-height: 378px;
        }
      }

      &-capsule {
        width: 153px;
        width: 39.2vw;
        height: 153px;
        height: 39.2vw;
        top: 150px;
        left: -30px;
        max-width: 306px;
        max-height: 306px;
        color: #a6e6dd;

        @include m.mq(pc) {
          width: 468px;
          height: 468px;
          top: 80px;
          left: -100px;
          max-width: 468px;
          max-height: 468px;
        }
      }

      &-circle {
        width: 68px;
        width: 17.6vw;
        height: 68px;
        height: 17.6vw;
        top: 150px;
        left: 5px;
        max-width: 136px;
        max-height: 136px;

        @include m.mq(pc) {
          display: none;
        }
      }

      &-stripe {
        width: 104px;
        width: 26.4vw;
        height: 104px;
        height: 26.4vw;
        bottom: 230px;
        left: -40px;
        max-width: 208px;
        max-height: 208px;

        @include m.mq(pc) {
          width: 280px;
          height: 280px;
          bottom: 0;
          left: -100px;
          max-width: 280px;
          max-height: 280px;
        }
      }

      &-circle--border {
        display: none;

        @include m.mq(pc) {
          display: block;
          width: 260px;
          height: 260px;
          max-width: 260px;
          max-height: 260px;

          &--1 {
            top: 150px;
            left: -25px;
          }

          &--2 {
            top: 150px;
            left: 150px;
          }
        }
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      clip-path: ellipse(50% 32% at 50% 50%);
      bottom: calc(-31.771vw / 2);
      left: 0;
      width: 100%;
      height: 31.771vw;
      background: v.$color-bg-blue;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -110;
      clip-path: ellipse(50% 40% at 50% 50%);
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 360px;
      height: 100px;
      background: v.$color-bg-blue;

      @include m.mq(tb) {
        max-width: 450px;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    padding-inline: 15px;
    padding-bottom: 90px;

    @include m.mq(tb) {
      padding-top: 55px;
      padding-bottom: 100px;
    }

    @include m.mq(pc) {
      padding-inline: 0;
      padding-bottom: 0;

      max-width: 1172px;
      margin: 0 auto;
    }
  }

  &__head {
    position: relative;
    top: -20px;
    z-index: 10;
    text-align: center;

    @include m.mq(tb) {
      top: 0;
    }
  }

  &__title {
    margin-top: 12px;
    font-size: 20px;

    @include m.mq(tb) {
      font-size: 32px;
    }

    &--sub {
      background: #19b8b1;
      color: v.$color-text-white;
      padding: 8px 16px;
      border-radius: 10px;
      width: fit-content;
      margin: 0 auto;

      @include m.mq(tb) {
        font-size: 20px;
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
  &__body {
    @include m.mq(pc) {
      margin-top: 40px;
    }
  }
  &__card {
    @include m.mq(pc) {
      max-width: calc(960px + 102px);
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
      margin-left: clamp(0px, 5.3125vw, 102px);
    }

    &-head {
      position: relative;
      z-index: 2;
      margin-bottom: -52px;
      max-width: 600px;
      margin-inline: auto;
      @include m.mq(pc) {
        margin: 0;
        margin-left: clamp(-52px, -2.7083vw, 0px);

        max-width: 546px;
        width: 28.44vw;
        min-width: 425px;
      }
    }
    &-logo {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 100px;

      @include m.mq(pc) {
        top: 20px;
        right: 20px;
        width: 155px;
      }
    }
    &-img {
      width: 100%;
      height: auto;
    }
    &-body {
      position: relative;
      z-index: 2;
      background: v.$color-bg;
      border-radius: 30px;
      padding: 12px 8px;
      max-width: 520px;
      margin: 0 auto;

      @include m.mq(pc) {
        margin: 0;
        min-width: 572px;
        max-width: 572px;
        width: 29.791vw;
        height: 290px;
        margin-block: 46px;
      }
    }
    &-text {
      border: 1px solid #19b8b1;
      border-radius: 30px;
      padding: 15px 7px;

      @include m.mq(pc) {
        height: 100%;
        font-size: 18px;
      }
    }
  }

  &__table-wrapper {
    margin-top: 38px;
    overflow-x: auto; // スマホではみ出した時に横スクロールさせる
    -webkit-overflow-scrolling: touch;
    padding-bottom: 15px;

    @include m.mq(pc) {
      margin-top: 50px;
    }

    // --- Google Chrome, Safari, Edge 用 ---
    &::-webkit-scrollbar {
      height: 5px; // スクロールバーの高さ（横スクロールの場合）
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9; // バーが通る道の背景色
    }

    &::-webkit-scrollbar-thumb {
      background: v.$color-accent-blue; // 動くツマミ部分の色
      border-radius: 10px;
    }

    // --- Firefox 用 ---
    scrollbar-width: thin; // バーを細くする
    scrollbar-color: v.$color-accent-blue #d9d9d9; // ツマミの色 道の色
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; // 列の幅を固定しやすくする
    min-width: 1080px; // スマホでも表の形を維持する最低幅
    max-width: 1080px; // PCでは表が広がりすぎないように最大幅を設定
    margin: 0 auto; // PCでは表を中央に配置

    th,
    td {
      width: 270px !important;
      height: 50px;
      border: 1px solid #d9d9d9; // 薄いグレー
      background: v.$color-bg;
      padding: 10px 15px;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      line-height: 1.5;

      @include m.mq(pc) {
        font-size: 16px;
      }
    }

    thead {
      th {
        border-color: #fff;
      }
      tr {
        // 1列目（空のセル）
        th:nth-child(1) {
          background-color: #a8a8a8;
        }
      }
    }

    // 左端の項目名列
    thead th:first-child,
    tbody th {
      text-align: left;
    }

    // ヘッダー（1行目）
    thead th {
      background-color: #bdf1ec; // A社B社の上の薄い青
      font-weight: 700;

      // Bulletリースの列
      &.is-bullet {
        background-color: v.$color-accent-blue; // 濃い紺色
        color: v.$color-text-white;
      }
    }
    // Bulletリースの列
    // ボディ（2行目以降）
    tbody td {
      &.is-bullet {
        color: v.$color-accent-blue;
        font-size: 20px;
      }
    }
  }

  .p-advantage__row-spacer {
    height: 4px; // 行の間のスペース
    td {
      height: 4px;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
    }
  }
}
