@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.p-flow {
  position: relative;
  padding-top: 150px;
  margin-top: -150px;

  .cp-bg {
    position: absolute;
    z-index: -1;

    &-dot--1 {
      width: 94px;
      width: 24.1vw;
      height: 94px;
      height: 24.1vw;
      top: 3%;
      left: 15px;
      max-width: 188px;
      max-height: 188px;

      @include m.mq(pc) {
        width: 250px;
        width: 13.02vw;
        height: 250px;
        height: 13.02vw;
        top: 0.1%;
        left: 0;
        max-width: 250px;
        max-height: 250px;

        @include m.mq(xl) {
          top: 0;
        }
      }
    }

    &-stripe--1 {
      width: 125px;
      width: 32.05vw;
      height: 125px;
      height: 32.05vw;
      top: 6%;
      left: -30px;
      max-width: 250px;
      max-height: 250px;

      @include m.mq(pc) {
        width: 350px;
        width: 18.229vw;
        height: 350px;
        height: 18.229vw;
        top: 16%;
        left: -6%;
        max-width: 350px;
        max-height: 350px;
      }
    }

    // ブロックー１
    &-circle--border--1 {
      width: 104px;
      width: 26.6vw;
      height: 104px;
      height: 26.6vw;
      max-width: 208px;
      max-height: 208px;
      top: 39.5%;
      right: -20%;

      @include m.mq(pc) {
        width: 254px;
        width: 13.23vw;
        height: 254px;
        height: 13.23vw;
        max-width: 254px;
        max-height: 254px;
        top: 0;
        right: -6%;
      }
    }

    &-circle--border--2 {
      width: 104px;
      width: 26.6vw;
      height: 104px;
      height: 26.6vw;
      max-width: 208px;
      max-height: 208px;
      top: 39.5%;
      right: 0;

      @include m.mq(pc) {
        width: 254px;
        width: 13.23vw;
        height: 254px;
        height: 13.23vw;
        max-width: 254px;
        max-height: 254px;
        top: 0;
        right: 4%;
      }
    }

    &-capsule--1 {
      z-index: -10;
      width: 228px;
      width: 58.46vw;
      height: 228px;
      height: 58.46vw;
      top: 36%;
      right: -20.69%;
      max-width: 456px;
      max-height: 456px;
      color: #a6e6dd;

      @include m.mq(pc) {
        width: 568px;
        width: 29.58vw;
        height: 568px;
        height: 29.58vw;
        top: -10.8125%;
        right: -10%;
        max-width: 568px;
        max-height: 568px;
      }
    }
    // ブロックー１

    &-dot--2 {
      width: 134px;
      width: 34.36vw;
      height: 134px;
      height: 34.36vw;
      bottom: 0;
      left: -8%;
      max-width: 268px;
      max-height: 268px;

      @include m.mq(pc) {
        width: 250px;
        width: 13.02vw;
        height: 250px;
        height: 13.02vw;
        left: auto;
        right: -25px;
        max-width: 250px;
        max-height: 250px;

        @include m.mq(xl) {
        }
      }
    }
  }

  &__inner {
    padding-inline: 30px;
    padding-top: 50px;
    padding-bottom: 40px;

    @include m.mq(pc) {
      padding-inline: 0;
      padding-top: 120px;
      padding-bottom: 100px;
    }
  }

  &__head {
    text-align: center;
  }

  &__title {
    font-size: 20px;

    @include m.mq(pc) {
      font-size: 32px;
    }
  }

  &__body {
    padding-block: 30px;

    @include m.mq(pc) {
      padding-block: 60px;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include m.mq(pc) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      gap: 20px;
    }
    @media screen and (min-width: 1280px) {
      gap: 60px;
    }
  }

  &__item {
    max-width: 300px;
    margin: 0 auto;

    @include m.mq(pc) {
      max-width: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      &:nth-child(3) {
        .p-flow__arrow {
          display: none;
        }
      }
    }
  }

  &__card {
    max-width: 300px;
    margin: 0 auto;

    &-head {
      position: relative;
      z-index: 2;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 50%;
      border: solid 5px v.$color-main;
      background: v.$color-bg;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      width: 75px;

      // .p-flow__item の中にあるアイコンに対する指定
      .p-flow__item:nth-child(4) & {
        width: 84px;
      }

      .p-flow__item:nth-child(5) & {
        width: 96px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-body {
      background: v.$color-main;
      text-align: center;
      padding: 100px 24px 24px 24px;
      margin-top: -75px;
      position: relative;
      z-index: 1;

      @include m.mq(pc) {
        width: 300px;
        height: 250px;
      }
    }

    &-title {
      color: v.$color-text-white;
      font-size: 20px;
    }

    &-text {
      color: v.$color-text-white;
      margin-top: 8px;
      letter-spacing: 0.05em;
    }
  }

  &__arrow {
    width: 100px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;

    // スマホ（下向き三角）
    clip-path: polygon(100% 20%, 0 20%, 50% 100%);
    background-color: v.$color-accent-orange;

    @include m.mq(pc) {
      // PC（右向き三角）
      clip-path: polygon(20% 0, 20% 100%, 100% 50%);
      width: 20px;
      height: 33px;
      margin-top: 70px;
      margin-left: 20px;
    }
    @media screen and (min-width: 1280px) {
      // PC（右向き三角）
      width: 60px;
      height: 100px;
      margin-left: 60px;
    }
  }
}
