@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.p-reason {
  position: relative;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 95px;
  margin-bottom: -40px;

  @include m.mq(pc) {
    padding-top: 90px;
    padding-bottom: 338px;
    margin-bottom: -140px;
  }

  .cp-bg {
    position: absolute;
    z-index: -1;

    &-car {
      width: 100px;
      width: 25.7vw;
      height: 100px;
      height: 25.7vw;
      top: 27.5%;
      left: 0;
      max-width: 200px;
      max-height: 200px;
      color: #9fe2d9;

      @include m.mq(tb) {
        top: 25%;
      }

      @include m.mq(pc) {
        width: 378px;
        width: 19.68vw;
        height: 378px;
        height: 19.68vw;
        top: 28%;
        right: 90px;
        left: auto;
        max-width: 378px;
        max-height: 378px;
      }

      @include m.mq(xl) {
        top: 25%;
      }
    }

    &-stripe--1 {
      width: 100px;
      width: 25.7vw;
      height: 100px;
      height: 25.7vw;
      top: 27%;
      right: -5.128%;
      max-width: 200px;
      max-height: 200px;

      @include m.mq(pc) {
        width: 250px;
        width: 62.5vw;
        height: 250px;
        height: 62.5vw;
        top: 27%;
        left: 0;
        max-width: 250px;
        max-height: 250px;
      }
    }

    // ブロックー１
    &-circle--border--1 {
      width: 52px;
      width: 13.6vw;
      height: 52px;
      height: 13.6vw;
      max-width: 104px;
      max-height: 104px;
      top: 52.5%;
      left: 0;

      @include m.mq(pc) {
        width: 254px;
        width: 13.23vw;
        height: 254px;
        height: 13.23vw;
        max-width: 254px;
        max-height: 254px;
        top: 140px;
        left: -1.14%;
      }
    }

    &-circle--border--2 {
      width: 52px;
      width: 13.6vw;
      height: 52px;
      height: 13.6vw;
      max-width: 104px;
      max-height: 104px;
      top: 52.5%;
      left: 8.205%;

      @include m.mq(pc) {
        width: 254px;
        width: 13.23vw;
        height: 254px;
        height: 13.23vw;
        max-width: 254px;
        max-height: 254px;
        top: 140px;
        left: 7.39%;
      }
    }

    &-capsule--1 {
      z-index: -10;
      width: 116px;
      width: 29.7vw;
      height: 116px;
      height: 29.7vw;
      top: 52%;
      left: -7.69%;
      max-width: 232px;
      max-height: 232px;
      color: #a6e6dd;

      @include m.mq(pc) {
        width: 568px;
        width: 29.58vw;
        height: 568px;
        height: 29.58vw;
        top: 80px;
        left: -9.375%;
        max-width: 568px;
        max-height: 568px;
      }
    }
    // ブロックー１

    &-dot--1 {
      width: 75px;
      width: 19.2vw;
      height: 75px;
      height: 19.2vw;
      top: 51%;
      right: -10px;
      max-width: 150px;
      max-height: 150px;

      @include m.mq(pc) {
        width: 250px;
        width: 13.02vw;
        height: 250px;
        height: 13.02vw;
        top: 80px;
        right: -25px;
        max-width: 250px;
        max-height: 250px;

        @include m.mq(xl) {
          top: 0;
        }
      }
    }

    &-stripe--2 {
      width: 48px;
      width: 12.8vw;
      height: 48px;
      height: 12.8vw;
      bottom: 24%;
      left: 0;
      max-width: 76px;
      max-height: 76px;

      @include m.mq(pc) {
        width: 254px;
        width: 65.2vw;
        height: 254px;
        height: 65.2vw;
        bottom: 24%;
        left: -60px;
        max-width: 254px;
        max-height: 254px;
      }
    }

    // ブロックー２
    &-circle--border--3 {
      z-index: -1;
      width: 40px;
      width: 10.4vw;
      height: 40px;
      height: 10.4vw;
      max-width: 80px;
      max-height: 80px;
      bottom: 22.5%;
      left: 2.564%;

      @include m.mq(pc) {
        width: 254px;
        width: 13.2vw;
        height: 254px;
        height: 13.2vw;
        bottom: 160px;
        left: -4.166%;
        max-width: 254px;
        max-height: 254px;
      }

      @include m.mq(xl) {
        bottom: 260px;
      }
    }

    &-capsule--2 {
      z-index: -10;
      width: 84px;
      width: 21.6vw;
      height: 84px;
      height: 21.6vw;
      max-width: 168px;
      max-height: 168px;
      color: #a6e6dd;
      bottom: 21%;
      left: -2.564%;

      @include m.mq(pc) {
        width: 568px;
        width: 29.58vw;
        height: 568px;
        height: 29.58vw;
        bottom: 10px;
        left: -12.5%;
        max-width: 568px;
        max-height: 568px;
      }

      @include m.mq(xl) {
        bottom: -15px;
      }
    }

    &-capsule--3 {
      z-index: -5;
      width: 84px;
      width: 21.6vw;
      height: 84px;
      height: 21.6vw;
      bottom: 20.2%;
      left: -2.564%;
      max-width: 168px;
      max-height: 168px;
      color: #c7f3ed;

      @include m.mq(pc) {
        width: 568px;
        width: 29.58vw;
        height: 568px;
        height: 29.58vw;
        bottom: -60px;
        left: -12.5%;
        max-width: 568px;
        max-height: 568px;
      }

      @include m.mq(xl) {
        bottom: -115px;
      }
    }
    // ブロックー2

    &-dot--2 {
      width: 62px;
      width: 16.1vw;
      height: 62px;
      height: 16.1vw;
      bottom: 23%;
      right: 18px;
      max-width: 124px;
      max-height: 124px;

      @include m.mq(pc) {
        display: none;
      }
    }

    // ブロックー3
    &-capsule--4 {
      width: 124px;
      width: 32.8vw;
      height: 124px;
      height: 32.8vw;
      bottom: 0;
      right: -5.128%;
      max-width: 248px;
      max-height: 248px;
      color: #a6e6dd;

      @include m.mq(pc) {
        width: 568px;
        width: 29.58vw;
        height: 568px;
        height: 29.58vw;
        bottom: 20%;
        right: -50px;
        max-width: 568px;
        max-height: 568px;
      }
    }

    &-circle--border--4 {
      width: 54px;
      width: 14.2vw;
      height: 54px;
      height: 14.2vw;
      max-width: 108px;
      max-height: 108px;
      bottom: 48px;
      right: -2.564%;

      @include m.mq(pc) {
        width: 300px;
        width: 15.625vw;
        height: 300px;
        height: 15.625vw;
        bottom: 24%;
        right: -50px;
        max-width: 300px;
        max-height: 300px;
      }

      @include m.mq(xl) {
        bottom: 27%;
      }
    }

    &-circle--border--5 {
      width: 54px;
      width: 14.2vw;
      height: 54px;
      height: 14.2vw;
      max-width: 108px;
      max-height: 108px;
      bottom: 48px;
      right: 6.3%;

      @include m.mq(pc) {
        width: 300px;
        width: 15.625vw;
        height: 300px;
        height: 15.625vw;
        bottom: 24%;
        right: 6%;
        max-width: 300px;
        max-height: 300px;
      }

      @include m.mq(xl) {
        bottom: 27%;
      }
    }
    // ブロックー3
  }

  &__inner {
    padding-inline: 15px;
    padding-inline: 6.846vw;

    @include m.mq(tb) {
      padding-inline: 20px;
      padding-inline: 2.604vw;
      max-width: 1284px;
      margin: 0 auto;
    }

    @include m.mq(xl) {
      padding-inline: 0;
    }
  }

  &__head {
    text-align: center;
    margin-inline: -6.846vw;

    @include m.mq(tb) {
      margin-inline: 0;
    }
  }

  &__title {
    font-size: 28px;
    margin-top: 4px;

    @include m.mq(pc) {
      margin-top: 24px;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 3px;

      // ボックスの見た目
      width: 34px; // ボックスの幅
      height: 34px; // ボックスの高さ
      background-color: v.$color-accent-blue; // 背景色
      color: v.$color-text-white; // 文字色

      // 枠線だけにしたい場合
      // border: 2px solid v.$color-main;
      // color: v.$color-main;

      @include m.mq(pc) {
        width: 50px;
        height: 50px;
        font-size: 40px;
      }
    }

    &--sub {
      font-size: 20px;

      @include m.mq(pc) {
        font-size: 32px;
      }
    }
  }

  &__body {
    margin-top: 42px;

    @include m.mq(pc) {
      margin-top: 136px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: center;

    @include m.mq(tb) {
      gap: clamp(60px, 10.416vw, 200px);
    }
  }

  &__card {
    @include m.mq(tb) {
      display: flex;
      gap: 60px;
      gap: clamp(0px, 3.125vw, 60px);
      align-items: center;

      &:nth-child(even) {
        flex-direction: row-reverse; // 偶数番目のカードは画像を右側にする
      }
    }

    @include m.mq(pc) {
      gap: 80px;
    }

    // 奇数番目のカード（1枚目、3枚目）
    &:nth-child(odd) {
      .p-reason__card-head {
        margin-left: auto; // 右寄せ

        @include m.mq(tb) {
          margin-left: 0;
        }
      }
      .p-reason__card-number {
        top: -38px;
        right: -15px;
        transform: rotate(5deg);

        @include m.mq(pc) {
          top: -96px;
          right: -60px;
        }
      }
      .p-reason__card-img {
        transform: translate(-14px, -14px);

        @include m.mq(tb) {
          transform: translate(-20px, -20px);
        }
      }

      .p-reason__card-body {
        margin-left: auto; // 右寄せ

        @include m.mq(tb) {
          margin-left: 0;
        }
      }
    }

    // 偶数番目のカード（2枚目、4枚目）
    &:nth-child(even) {
      margin-left: -10px;

      @include m.mq(tb) {
        margin-left: 0;
      }

      .p-reason__card-head {
        margin-right: auto; // 左寄せ

        @include m.mq(tb) {
          margin-right: 0;
        }
      }
      .p-reason__card-number {
        top: -38px;
        left: 0;
        transform: rotate(-5deg);

        @include m.mq(pc) {
          top: -96px;
          left: -60px;
        }
      }

      .p-reason__card-img {
        transform: translate(14px, -14px);

        @include m.mq(tb) {
          transform: translate(20px, -20px);
        }
      }

      .p-reason__card-body {
        margin-right: auto; // 左寄せ

        @include m.mq(tb) {
          margin-right: 0;
        }
      }
    }

    &:nth-child(3) {
      .p-reason__card-title {
        br {
          @media screen and (min-width: 420px) {
            display: none;
          }
        }
      }
    }

    &-head {
      position: relative;
      width: 88.718vw;
      max-width: 500px;
      margin-top: 14px;

      @include m.mq(tb) {
        width: auto;
        max-height: 284px;
        flex: 1;
        margin-top: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid v.$color-sub-light;
        border-radius: 20px;
        z-index: 10; // ★画像（z-index: 1）より大きくする
        pointer-events: none; // 枠がクリックの邪魔をしないように
      }
    }

    &-number {
      position: absolute;
      z-index: 10;
      font-size: 48px;
      font-weight: 400;
      line-height: 1;
      color: v.$color-sub-light;
      font-family: v.$fonts-allison;

      @include m.mq(tb) {
        font-size: 64px;
      }

      @include m.mq(pc) {
        font-size: 96px;
      }
    }
    &-img {
      display: block; // 下に隙間ができないように
      position: relative;
      z-index: 1; // ★枠の ::before より小さくする
      width: 100%; // 親（head）の幅に合わせる
      height: auto;
      border-radius: 20px; // 画像自体も角丸にする
    }
    &-body {
      margin-top: 16px;
      max-width: 500px;

      @include m.mq(tb) {
        max-width: 475px;
        flex: 1;
        margin-top: 0;
      }
    }

    &-title {
      letter-spacing: 0.1em;
      font-size: 24px;
      color: v.$color-text-orange;

      // マーカーを引くためのスタイル
      // 改行したときも綺麗に見えるように inline 指定にする
      display: inline;

      // マーカーの設定
      // transparent 70% くらいの数値にすると、文字の下側に細めにラインが入ります
      background: linear-gradient(transparent 70%, v.$color-sub-light 70%);

      // 線を文字の横幅より少し広げたい場合はこれを入れる
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 0 4px;

      @include m.mq(pc) {
        font-size: 32px;
      }
    }

    &-text {
      margin-top: 20px;
      letter-spacing: 0.1em;
    }
  }
}
