@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.p-reason {
  padding-top: 35px;
  padding-bottom: 55px;

  @include m.mq(pc) {
    padding-top: 90px;
    padding-bottom: 138px;
  }
  &__inner {
    padding-inline: 15px;
    padding-inline: 6.846vw;

    @include m.mq(tb) {
      padding-inline: 20px;
      padding-inline: 2.604vw;
      max-width: 1284px;
      margin: 0 auto;
    }

    @include m.mq(xl) {
      padding-inline: 0;
    }
  }

  &__head {
    text-align: center;
    margin-inline: -6.846vw;

    @include m.mq(tb) {
      margin-inline: 0;
    }
  }

  &__title {
    font-size: 28px;
    margin-top: 4px;

    @include m.mq(pc) {
      margin-top: 24px;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 3px;

      // ボックスの見た目
      width: 34px; // ボックスの幅
      height: 34px; // ボックスの高さ
      background-color: v.$color-accent-blue; // 背景色
      color: v.$color-text-white; // 文字色

      // 枠線だけにしたい場合
      // border: 2px solid v.$color-main;
      // color: v.$color-main;

      @include m.mq(pc) {
        width: 50px;
        height: 50px;
        font-size: 40px;
      }
    }

    &--sub {
      font-size: 20px;

      @include m.mq(pc) {
        font-size: 32px;
      }
    }
  }

  &__body {
    margin-top: 42px;

    @include m.mq(pc) {
      margin-top: 136px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;

    @include m.mq(tb) {
      gap: clamp(60px, 10.416vw, 200px);
    }
  }

  &__card {
    @include m.mq(tb) {
      display: flex;
      gap: 60px;
      gap: clamp(0px, 3.125vw, 60px);
      align-items: center;

      &:nth-child(even) {
        flex-direction: row-reverse; // 偶数番目のカードは画像を右側にする
      }
    }

    @include m.mq(pc) {
      gap: 80px;
    }

    // 奇数番目のカード（1枚目、3枚目）
    &:nth-child(odd) {
      .p-reason__card-head {
        margin-left: auto; // 右寄せ

        @include m.mq(tb) {
          margin-left: 0;
        }
      }
      .p-reason__card-number {
        top: -38px;
        right: -15px;
        transform: rotate(5deg);

        @include m.mq(pc) {
          top: -96px;
          right: -60px;
        }
      }
      .p-reason__card-img {
        transform: translate(-14px, -14px);

        @include m.mq(tb) {
          transform: translate(-20px, -20px);
        }
      }

      .p-reason__card-body {
        margin-left: auto; // 右寄せ

        @include m.mq(tb) {
          margin-left: 0;
        }
      }
    }

    // 偶数番目のカード（2枚目、4枚目）
    &:nth-child(even) {
      .p-reason__card-head {
        margin-right: auto; // 左寄せ

        @include m.mq(tb) {
          margin-right: 0;
        }
      }
      .p-reason__card-number {
        top: -38px;
        left: 0;
        transform: rotate(-5deg);

        @include m.mq(pc) {
          top: -96px;
          left: -60px;
        }
      }

      .p-reason__card-img {
        transform: translate(14px, -14px);

        @include m.mq(tb) {
          transform: translate(20px, -20px);
        }
      }

      .p-reason__card-body {
        margin-right: auto; // 左寄せ

        @include m.mq(tb) {
          margin-right: 0;
        }
      }
    }

    &:nth-child(3) {
      .p-reason__card-title {
        br {
          @media screen and (min-width: 420px) {
            display: none;
          }
        }
      }
    }

    &-head {
      position: relative;
      width: 88.718vw;
      max-width: 500px;
      margin-top: 14px;

      @include m.mq(tb) {
        width: auto;
        max-height: 284px;
        flex: 1;
        margin-top: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid v.$color-sub-light;
        border-radius: 20px;
        z-index: 10; // ★画像（z-index: 1）より大きくする
        pointer-events: none; // 枠がクリックの邪魔をしないように
      }
    }

    &-number {
      position: absolute;
      z-index: 10;
      font-size: 48px;
      font-weight: 400;
      line-height: 1;
      color: v.$color-sub-light;

      @include m.mq(tb) {
        font-size: 64px;
      }

      @include m.mq(pc) {
        font-size: 96px;
      }
    }
    &-img {
      display: block; // 下に隙間ができないように
      position: relative;
      z-index: 1; // ★枠の ::before より小さくする
      width: 100%; // 親（head）の幅に合わせる
      height: auto;
      border-radius: 20px; // 画像自体も角丸にする
    }
    &-body {
      margin-top: 54px;
      max-width: 500px;

      @include m.mq(tb) {
        max-width: 475px;
        flex: 1;
        margin-top: 0;
      }
    }

    &-title {
      letter-spacing: 0.1em;
      font-size: 24px;
      color: v.$color-text-orange;

      // マーカーを引くためのスタイル
      // 改行したときも綺麗に見えるように inline 指定にする
      display: inline;

      // マーカーの設定
      // transparent 70% くらいの数値にすると、文字の下側に細めにラインが入ります
      background: linear-gradient(transparent 70%, v.$color-sub-light 70%);

      // 線を文字の横幅より少し広げたい場合はこれを入れる
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 0 4px;

      @include m.mq(pc) {
        font-size: 32px;
      }
    }

    &-text {
      margin-top: 20px;
      letter-spacing: 0.1em;
    }
  }
}
