@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.p-voice {
  padding: 64px 0 84px;
  overflow: hidden;

  @include m.mq(pc) {
    padding: 160px 0 75px;
  }

  &__inner {
    padding-inline: 15px;
  }

  &__head {
    text-align: center;
  }

  &__title {
    font-size: 20px;
    position: relative;
    margin-bottom: 60px;

    @include m.mq(pc) {
      font-size: 32px;
      margin-bottom: 98px;
    }

    &::before {
      content: "VOICE";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 64px;
      color: v.$color-bg-blue;
      pointer-events: none;

      @include m.mq(pc) {
        font-size: 128px;
      }
    }
  }

  &__body {
    max-width: 500px;
    margin: 0 auto;
    @include m.mq(pc) {
      max-width: none;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include m.mq(pc) {
      gap: 100px;
    }
  }

  &__card {
    padding: 20px;
    padding: 5.1282vw;
    background: v.$color-main;
    color: v.$color-text-white;

    @include m.mq(pc) {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
      position: relative; // 擬似要素の基準
    }

    // 擬似要素で背景を作る
    &::before {
      display: none;

      @include m.mq(pc) {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        width: 100vw; // 画面幅いっぱいに
        height: 100%;
        background: v.$color-main;
        z-index: -1;
      }
    }

    // 奇数
    &:nth-child(odd) {
      @include m.mq(pc) {
        flex-direction: row-reverse;
      }

      &::before {
        @include m.mq(pc) {
          right: 50%; // 右端を中央に合わせる
        }
      }

      .p-voice__card-body {
        @include m.mq(pc) {
          padding-right: 34px;
        }
      }
    }

    // 偶数
    &:nth-child(even) {
      &::before {
        @include m.mq(pc) {
          left: 50%; // 左端を中央に合わせる
        }
      }

      .p-voice__card-body {
        @include m.mq(pc) {
          padding-left: 34px;
        }
      }
    }

    &-img {
      width: 100%;
      height: auto;
      aspect-ratio: 300 / 250;
      object-fit: cover;

      @include m.mq(pc) {
        max-width: 300px;
      }
    }

    &-body {
      @include m.mq(pc) {
        display: flex;
        flex-direction: column;
        max-width: 657px;
      }
    }

    &-inner {
      @include m.mq(pc) {
        display: flex;
        flex-wrap: wrap; // 折り返し許可
        align-items: center;
        gap: 36px;
      }
    }

    &-stars {
      display: flex;
      gap: 8px;
      margin-top: 24px;
      justify-content: center;

      @include m.mq(pc) {
        margin: 0;
        order: 1; // 1番目に配置
      }
    }

    &-star {
      width: 35px;
      height: 34px;
      line-height: 1;
      fill: #d3d3d3;

      &.is-active {
        fill: #fdc700; // 評価済みの色
      }
    }

    &-title {
      font-size: 24px;
      margin-top: 24px;
      text-align: center;

      @include m.mq(pc) {
        margin: 0;
        order: 2; // 2番目に配置
        margin-top: 30px;
      }
    }

    &-reason {
      text-align: center;
      margin-top: 20px;

      @include m.mq(pc) {
        margin: 0;
        margin-top: -10px;
        order: 3; // 3番目
        flex-basis: 100%; // 幅を100%にして改行させる
        text-align-last: left;
      }
    }

    &-text {
      margin-top: 15px;

      @include m.mq(pc) {
        margin-top: 25px;
      }
    }

    &-name {
      display: block;
      margin-top: 11px;
      font-size: 14px;
      text-align: right;

      @include m.mq(pc) {
        margin-top: 24px;
      }
    }
  }
}
