<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>LPのタイトル</title>
  <meta name="description" content="LPの説明文" />
  <link rel="canonical" href="" />

  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="LPのタイトル" />
  <meta property="og:description" content="LPの説明文" />
  <meta property="og:site_name" content="サイト名またはブランド名" />
  <meta property="og:image" content="https://(絶対パス)" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="LPのタイトル" />
  <meta name="twitter:description" content="LPの説明文" />
  <meta name="twitter:image" content="" />

  <link rel="icon" href="/favicon.ico" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/src/scss/style.scss">
</head>

<body>
  <%- include('./src/html/_layout/_header.ejs') %>
  <main>
    <%- include('./src/html/_project/_p-fv.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--1'}) %>
    <%- include('./src/html/_project/_p-trouble.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--2'}) %>
    <%- include('./src/html/_project/_p-advantage.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--3'}) %>
    <%- include('./src/html/_project/_p-trust.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--4'}) %>
    <%- include('./src/html/_project/_p-reason.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--5'}) %>
    <%- include('./src/html/_project/_p-flow.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--6'}) %>
    <%- include('./src/html/_project/_p-plan.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--7'}) %>
    <%- include('./src/html/_project/_p-voice.ejs') %>
    <%- include('./src/html/_project/_p-faq.ejs') %>
    <%- include('./src/html/_project/_p-contact.ejs', { modifier: 'p-contact--8'}) %>
  </main>
  <%- include('./src/html/_layout/_footer.ejs') %>
  <script type="module" src="/src/main.js"></script>
</body>

</html>