@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.cp-btn {
  display: inline-block;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent; // 最初から枠線の場所を確保しておく
  transition: all 0.5s;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$color-text-white;

    span {
      font-size: 24px;
    }
  }

  &__line {
    background-color: v.$color-accent-green;

    &:hover {
      background: v.$color-bg;
      border: 3px solid v.$color-accent-green;

      a {
        color: v.$color-accent-green;
        svg {
          stroke: v.$color-accent-green;
        }
      }
    }

    a {
      gap: 4px;
    }
  }

  &__tel {
    background-color: v.$color-accent-orange;

    &:hover {
      background: v.$color-bg;
      border: 3px solid v.$color-accent-orange;

      a {
        color: v.$color-accent-orange;
        svg {
          stroke: v.$color-accent-orange;
        }
      }
    }

    a {
      gap: 9px;
    }
  }
}
