@use "sass:map";
@use "../global/variables" as v; // 変数を使いたい場合
@use "../global/mixin" as m; // ミックスインを使いたい場合

.l-header {
  position: relative;
  z-index: 1000;
  background-color: transparent;
  margin-bottom: -50px;

  @include m.mq(tb) {
    margin-bottom: -70px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: v.$inner-width;
    margin: 0 auto;
    max-width: 1680px;
  }

  &__logo img {
    width: 155px;
    height: auto;
  }

  &__btns {
    display: none;

    @include m.mq(tb) {
      display: block;
      display: flex;
      justify-content: end;
      gap: 20px;
      padding-right: 11.4583vw;
    }

    .cp-btn {
      width: 200px;
      height: 40px;

      a {
        img {
          width: 20px;
          height: 20px;
        }
      }

      span {
        font-size: 16px;
      }
    }
  }
}
