// global/_base.scss
@use "variables" as v; // 変数を使いたい場合

// * {
//   outline: 1px solid #0000ff;
// }

html {
}

body {
  // 基本のフォント設定
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.8;
  color: v.$color-text;
  background: v.$color-bg;
  width: 100%;

  // 背景のデフォルト
  background-color: v.$color-bg;

  // 余計な余白を消す
  margin: 0;
  padding: 0;

  -webkit-overflow-scrolling: touch; /* これで指に吸い付くような動きになります */

  position: relative;

  // 横スクロール防止
  overflow-x: hidden;
  overflow-y: auto;
}

// 共通の画像設定（はみ出し防止）
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// リンクの基本
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.cp-bg {
  width: 0; // 幅をゼロにして場所を取らせない
  height: 0;
  will-change: transform, opacity;

  // スタイルが読み込まれるまで、あるいは配置が決まるまで隠しておく
  opacity: 0;
  visibility: hidden;
  // 「bodyに.is-loadedがついた時」の .cp-bg を指定
  body.is-loaded & {
    opacity: 1;
    visibility: visible;
  }
}

// アニメーションさせたい要素の共通クラス
.js-fade-in {
  opacity: 0;
  transform: translateY(30px); // 少し下から浮かび上がらせる
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  will-change: opacity, transform;

  // JSで .is-visible クラスがついた時の状態
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
