// global/_variables.scss

@use "sass:map";
// ==========================================
// fonts（フォントの変数）
// ==========================================
$fonts-base: "Noto Sans JP", sans-serif;
$fonts-allison: "Allison", cursive;

// ==========================================
// Colors（色の変数）
// ==========================================
$color-main: #56cfbf; // メインカラー（ブランドの色）
$color-sub-light: #9fe2d9; // サブカラー（補足情報など）
$color-accent-navy: #263651; // アクセントカラー（ネイビー）
$color-accent-blue: #083995; // アクセントカラー（青）
$color-accent-green: #00c950; // アクセントカラー（緑）
$color-accent-orange: #ef982d; // アクセントカラー（オレンジ）

$color-text: #333333; // 基本の文字色
$color-text-white: #ffffff; // 白い文字色
$color-text-orange: #ffaf4e; // オレンジの文字色
$color-bg: #ffffff; // 背景色（基本は白）
$color-bg-blue: #cdf0ed; // 背景色（基本は白）
$color-border-white: #ffffff; // 境界線の色
$color-border-black: #333; // 境界線の色

// ==========================================
// Inner Width（コンテンツの最大幅）
// ==========================================
$inner-width: 1200px; // LPの中身が収まる最大幅
